.list {
    height: 95%;
    overflow-y: scroll;
    padding: 0.5rem 1rem;

    .empty{
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.75;
        background-image: url('../../assets/box.svg');
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: center;
    }

    .loading {
        display: block;
        height: 2rem;
        width: 2rem;
        margin: 1rem auto;
        background-image: url('../../assets/rotate.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        animation: rotate 1s linear 0s infinite normal;

        @keyframes rotate {
            from {
                transform: rotateZ(0deg);
            }
            to {
                transform: rotateZ(360deg);
            }
        }
    }

    .btn-top {
        display: block;
        position: fixed;
        z-index: 50;
        bottom: 0.5rem;
        right: 0.5rem;
        height: 2rem;
        background-color: #1c1c1c;
        color: #ffffff;
        font-weight: bold;
        border-radius: 0.25rem;
        border: none;
        opacity: 0.5;
        cursor: pointer;
    }
}